@using  WebUI.Models
@model DishesListViewModel

@{
    ViewBag.Title = "Блюда";
}

@foreach (var dish in Model.Dishes)
{
    @Html.Partial("_DishSummary", dish)
}
<div class="btn-group pull right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, type = Model.CurrentType }))
</div>

